.vscode/**
.vscode-test/**
.github/**
.git/**
.gitignore
package-lock.json
client/package-lock.json
server/package-lock.json
.vscode-ctags
vsc-extension-quickstart.md
scripts/e2e.*
test/**
client/src/**
client/test/**
client/testFixture/**
client/node_modules/**
server/src/**
server/node_modules/**
**/*.ts
**/*.map
tsconfig.json
client/tsconfig.json
server/tsconfig.json
tslint.json
